:root{
    --primary-color: #0000FE;
    --secondary-color:#DCBFA8;
    --accent-color-1:#001514;
    --accent-color-2:#6B0504;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    padding:0;
    margin:0;
}

h1{
    font-family: 'Times New Roman', Times, serif;
    margin: 0 auto;
    font-size: 4em;
    color:#6B0504
}

.subtitle{
    font-family: 'Times New Roman', Times, serif;
}

main{
    background-color: #0000FE;
    display:grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr, 1fr, 1fr;
}

header{
    background-color: var(--secondary-color);
    margin:0;
    padding:0;
}

#headbox{
    display:flex;
    padding:0;
    margin:0;
    width: 100%;
    aspect-ratio: 10/1;
    align-items:end;
}

.logo{
    height:100%;
    aspect-ratio: 1;
    align-self:center;
    justify-self: start;
}

.topbutton{
    flex-grow: 1;
    height: 20px;
    max-width:80px;
    margin: 20px auto;
    padding: 20px;
    background-color: var(--accent-color-2);
    color: var(--secondary-color);
    display: flex;
    justify-content: center;
    align-items: center;
}

a{
    display:flex;
    color:inherit;
    text-decoration: none;
}

.topbutton:hover{
    background-color: var(--primary-color);
    color: var(--accent-color-1);
}

.subpage1-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    text-align: center;
    gap: 40px;
}

#sectionbox{
    display:grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
}

#maintext{
    background-color:#DCBFA8;
    border: 5px solid #6B0504;
    margin: 20px 50px;
}

.wikibox{
    background-color:#DCBFA8;
    border: 5px solid #6B0504;
    margin: 20px 50px;
    display:grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr, 1fr, 1fr;
}

.sublogo{
    margin: 20px auto;
    height:200px;
}

.subtitle{
    margin: 0px auto 0px auto;
}

.subtext{
    margin: 20px 40px 40px 40px;
}